<%= form_with(model: bet, local: true) do |form| %>
  <% if bet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bet.errors.count, "error") %> prohibited this bet from being saved:</h2>

      <ul>
        <% bet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :game_id %>
    <%= form.number_field :game_id %>
  </div>

  <div class="field">
    <%= form.label :player_id %>
    <%= form.number_field :player_id %>
  </div>

  <div class="field">
    <%= form.label :player_score %>
    <%= form.number_field :player_score %>
  </div>

  <div class="field">
    <%= form.label :bet_league_id %>
    <%= form.number_field :bet_league_id %>
  </div>

  <div class="field">
    <%= form.label :home_bet %>
    <%= form.number_field :home_bet %>
  </div>

  <div class="field">
    <%= form.label :visitor_bet %>
    <%= form.number_field :visitor_bet %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
