<p id="notice"><%= notice %></p>

<h1>Bets</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Player</th>
      <th>Player score</th>
      <th>Bet league</th>
      <th>Home bet</th>
      <th>Visitor bet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bets.each do |bet| %>
      <tr>
        <td><%= bet.game_id %></td>
        <td><%= bet.player_id %></td>
        <td><%= bet.player_score %></td>
        <td><%= bet.bet_league_id %></td>
        <td><%= bet.home_bet %></td>
        <td><%= bet.visitor_bet %></td>
        <td><%= link_to 'Show', bet %></td>
        <td><%= link_to 'Edit', edit_bet_path(bet) %></td>
        <td><%= link_to 'Destroy', bet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bet', new_bet_path %>
