<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @bet.game_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @bet.player_id %>
</p>

<p>
  <strong>Player score:</strong>
  <%= @bet.player_score %>
</p>

<p>
  <strong>Bet league:</strong>
  <%= @bet.bet_league_id %>
</p>

<p>
  <strong>Home bet:</strong>
  <%= @bet.home_bet %>
</p>

<p>
  <strong>Visitor bet:</strong>
  <%= @bet.visitor_bet %>
</p>

<%= link_to 'Edit', edit_bet_path(@bet) %> |
<%= link_to 'Back', bets_path %>
