<%= form_with(model: player_bet_league, local: true) do |form| %>
  <%= form.hidden_field :bet_league_id, value: params[:bet_league_id] %>

  <div class="form-group">
    <%= form.select :player_id, Player.all.collect { |p| [p.name, p.id] }, {},
      class: 'form-control selectpicker', multiple: 'multiple' %>
  </div>

  <div class="actions">
    <%= link_to 'Back', home_index_path, class: 'btn btn-light' %>
    <%= form.submit('Convidar', class: 'btn btn-primary') %>
  </div>
<% end %>
