<h1>Ligas</h1>

<% if current_player.admin? %>
  <div class="mb-3">
    <a href="<%= new_bet_league_path %>" class="btn btn-primary btn-lg btn-block">
      <%= fa_icon 'plus' %> Criar Liga
    </a>
  </div>
<% end %>

<div class="list-group">
  <% @bet_leagues.each do |bet_league| %>
    <%= link_to bet_league_path(bet_league.id), class: 'list-group-item list-group-item-action' do %>
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">
          <%= bet_league.name %>
        </h5>
        <small>
          <% player_bet_league = bet_league.player_bet_leagues.find_by(player_id: current_player.id) %>
          <%= player_bet_league.player_accumulated_score %>
          <%= player_bet_league.player_accumulated_score == 1 ? 'pt' : 'pts' %>
        </small>
      </div>
      <small>
        <%= bet_league.player_bet_leagues.count %>
        <%= bet_league.player_bet_leagues.count == 1 ? 'participante' : 'participantes' %>
      </small>
    <% end %>
  <% end %>
</div>
