<div data-target="fields-for.fields">
  <%= game_form.hidden_field :_destroy, value: '0', 'data-target': 'fields-for.destroy' %>
  <%= game_form.hidden_field :id %>
  <%= game_form.hidden_field :bet_league_id, value: @bet_league.id %>

  <div class="row align-items-center mb-3 no-gutters">
    <div class="col-5">
      <%= game_form.select :home_id, team_options_for_select(game_form.object.home_id),
        {}, class: 'form-control', 'data-behavior' => 'selectpicker',
        'data-live-search' => 'true', title: 'Selecione um time...' %>
    </div>

    <div class="col-1 d-flex justify-content-center">
      <%= fa_icon('times') %>
    </div>

    <div class="col-5">
      <%= game_form.select :visitor_id, team_options_for_select(game_form.object.visitor_id),
        {}, class: 'form-control', 'data-behavior' => 'selectpicker',
        'data-live-search'=>'true', title: 'Selecione um time...' %>
    </div>

    <div class="col-1 d-flex justify-content-center">
      <a href="#self" data-action="fields-for#hide">
        <%= fa_icon('trash') %>
      </a>
    </div>
  </div>
</div>
