<div data-target="fields-for.fields">
  <div class="row mb-3">
    <div class="col-5">
      <%= game_form.label(:home_id, 'Time da Casa:') %>
      <%= game_form.select :home_id,
        team_options_for_select,
        {}, prompt: '- Select -', class: 'form-control selectpicker', 'data-live-search'=>"true" %>
    </div>

    <div class="col-1">
      <%= fa_icon('times') %>
    </div>

    <div class="col-5">
      <%= game_form.label(:home_id, 'Time Visitante:') %>
      <%= game_form.select :visitor_id,
        team_options_for_select,
        {}, prompt: '- Select -', class: 'form-control selectpicker', 'data-live-search'=>"true" %>
    </div>

    <div class="col-1">
      <a href="#self" data-action="fields-for#hide">
        <%= fa_icon('trash') %>
      </a>
    </div>
  </div>
</div>
