<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Home</th>
      <th>Visitor</th>
      <th>Home score</th>
      <th>Visitor score</th>
      <th>Date time</th>
      <th>Championship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.home_id %></td>
        <td><%= game.visitor_id %></td>
        <td><%= game.home_score %></td>
        <td><%= game.visitor_score %></td>
        <td><%= game.date_time %></td>
        <td><%= game.championship_id %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
