<%= form_for(player_round_assignment) do |form| %>
  <%= form.hidden_field :bet_league_id %>
  <%= form.hidden_field :round_id %>
  <%= form.hidden_field :player_id %>

  <%= form.fields_for :bets do |bet_form| %>
    <div class="row align-items-center mb-3">
      <%= bet_form.hidden_field(:id, class: 'form-control') %>
      <%= bet_form.hidden_field(:game_id, class: 'form-control') %>
      <%= bet_form.hidden_field(:player_id, class: 'form-control') %>
      <%= bet_form.hidden_field(:bet_league_id, class: 'form-control') %>

      <div class="col-3 text-right">
        <%= image_tag(bet_form.object.game.home.logo_url, width: '25px') %>
        <%= bet_form.object.game.home.name %>
      </div>

      <div class="col-2 pl-0 pr-0">
        <%= bet_form.number_field(:home_bet, class: 'form-control') %>
      </div>

      <div class="col-2 d-flex justify-content-center">
        <%= fa_icon('times') %>
      </div>

      <div class="col-2 pl-0 pr-0">
        <%= bet_form.number_field(:visitor_bet, class: 'form-control') %>
      </div>

      <div class="col-3">
        <%= bet_form.object.game.visitor.name %>
        <%= image_tag(bet_form.object.game.visitor.logo_url, width: '25px') %>
      </div>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col">
      <%= form.submit('Salvar', class: 'btn btn-primary btn-lg btn-block') %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= link_to 'Cancelar', bet_league_path(@bet_league.id), class: 'btn btn-light btn-lg btn-block' %>
    </div>
  </div>
<% end %>
