<div class="row mb-3">
  <div class="col">
    <h1>
      Palpites
    </h1>
  </div>
</div>

<% @player_round_assignment.bets.joins(:game).each do |bet| %>
  <div class="row align-items-center mb-3 no-gutters">
    <div class="col-3 text-right text-truncate">
      <%= bet.game.home.name %>
    </div>

    <div class="col-1 text-center">
      <%= image_tag(bet.game.home.logo_url, width: '25px') %>
    </div>

    <div class="col-1 text-right">
      <%= bet.home_bet %>
    </div>

    <div class="col-2 d-flex justify-content-center">
      <%= fa_icon('times') %>
    </div>

    <div class="col-1">
      <%= bet.visitor_bet %>
    </div>

    <div class="col-1 text-center text-center">
      <%= image_tag(bet.game.visitor.logo_url, width: '25px') %>
    </div>

    <div class="col-3 text-left text-truncate">
      <%= bet.game.visitor.name %>
    </div>

  </div>
<% end %>

<div class="row mb-3">
  <div class="col">
    <%= link_to 'Voltar', bet_league_path(@bet_league.id), class: 'btn btn-light btn-lg btn-block' %>
  </div>
</div>
