<%= form_with(model: bet_league, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :name, 'Nome:' %>

    <%= form.text_field :name, class: "form-control", placeholder: 'Nome da Liga' %>
  </div>

  <div class="actions text-right">
    <%= link_to 'Back', bet_leagues_path, class: 'btn btn-light' %>
    <%= form.submit('Criar', class: 'btn btn-primary') %>
  </div>
<% end %>
