<div class="row mb-3">
  <div class="col">
    <h1>
      <%= @bet_league.name %>

      <a href="<%= edit_bet_league_path(@bet_league) %>">
        <%= fa_icon 'edit' %>
      </a>
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <p><%= @bet_league.description %></p>
  </div>
</div>

<% if @bet_league.owner == current_player %>
  <div class="row mb-3">
    <div class="col">
      <a href="<%= new_player_bet_league_path(bet_league_id: @bet_league.id) %>" class="btn btn-primary btn-lg btn-block">
        <%= fa_icon 'plus' %> Convidar participantes
      </a>
    </div>
  </div>
<% end %>

<div class="row mb-3">
  <div class="col">
    <div class="list-group">
      <% @bet_league.player_bet_leagues.eager_load(:player).each do |player_bet_league| %>
        <div class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
              <%= player_bet_league.player.name %>
            </h5>
            <small>
              <%= pluralize(player_bet_league.player_accumulated_score, 'pt') %>
            </small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @bet_league.owner == current_player %>
  <div class="row mb-3">
    <div class="col">
      <a href="<%= new_round_path(bet_league_id: @bet_league.id) %>" class="btn btn-primary btn-lg btn-block">
        <%= fa_icon 'plus' %> Nova Rodada
      </a>
    </div>
  </div>
<% end %>

<div class="row mb-3">
  <div class="col">
    <div class="list-group">
      <% @bet_league.rounds.each do |round| %>
        <%= link_to edit_round_path(round),class: 'list-group-item list-group-item-action' do %>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
              Rodada #<%= round.round_number  %>
            </h5>
            <small>
              <%= pluralize(round.games.size, 'jogos') %>
            </small>
          </div>

          <small>
            <%= round.status %>
          </small>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
