<div class="row mb-3">
  <div class="col">
    <h1>
      <%= @bet_league.name %>

      <% if @bet_league.owner == current_player %>
        <a href="<%= edit_bet_league_path(@bet_league) %>">
          <%= fa_icon 'edit' %>
        </a>
      <% end %>
    </h1>
  </div>
</div>

<div class="row mb-3">
  <div class="col">
    <p><%= @bet_league.description %></p>
  </div>
</div>

<% if @bet_league.owner == current_player %>
  <div class="row mb-3">
    <div class="col">
      <a href="<%= new_player_bet_league_path(bet_league_id: @bet_league.id) %>" class="btn btn-primary btn-lg btn-block">
        <%= fa_icon 'plus' %> Convidar participantes
      </a>
    </div>
  </div>
<% end %>

<div class="row mb-3">
  <div class="col">
    <div class="list-group">
      <%
        @bet_league
          .player_bet_leagues
          .order('player_accumulated_score DESC, nailed_count DESC')
          .eager_load(:player)
          .each do |player_bet_league| %>
        <div class="list-group-item">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
              <%= player_bet_league.player.name %>
            </h5>
            <small>
              <%= player_bet_league.player_accumulated_score %>
              <%= player_bet_league.player_accumulated_score == 1 ? 'pt' : 'pts' %>
            </small>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% if @bet_league.owner == current_player %>
  <div class="row mb-3">
    <div class="col">
      <a href="<%= new_round_path(bet_league_id: @bet_league.id) %>" class="btn btn-primary btn-lg btn-block">
        <%= fa_icon 'plus' %> Nova Rodada
      </a>
    </div>
  </div>
<% end %>

<div class="row mb-3">
  <div class="col">
    <div class="list-group" data-controller="rounds-list">
      <% @bet_league.rounds.order(round_number: :asc).each do |round| %>
        <%= link_to round_row_url(round), class: 'list-group-item list-group-item-action', data: { action: nil } do %>
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
              Rodada #<%= round.round_number  %>
            </h5>
            <small>
              <%= round.games.size %>
              <%= round.games.size == 1 ? 'jogo' : 'jogos'%>
            </small>
          </div>

          <div class="d-flex w-100 justify-content-between">
            <small>
              <%= round.translated_status %>
            </small>
            <% if round.finished? && round.player_round_assignments.exists?(player: current_player) %>
              <small>
                <% round_score = round.player_round_assignments.find_by(player: current_player).round_score %>
                <%= round_score %>
                <%= round_score == 1 ? 'pt' : 'pts' %>
              </small>
            <% end %>
          </div>

          <small>
            <% if round.unstarted? %>
              Inicia em <%= round.accept_bets_after.strftime('%e/%m/%Y as %H:%M') %>
            <% elsif round.open? %>
              Fecha em <%= round.accept_bets_until.strftime('%e/%m/%Y as %H:%M') %>
            <% elsif round.closed? %>
              Aguardando o organizador
            <% end %>
          </small>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
