<%= form_for(@round, url: finish_round_path(@round.id), method: :put) do |form| %>
  <%= form.hidden_field(:status, value: :finished) %>

  <%= form.fields_for :games do |game_form| %>
    <div class="row align-items-center mb-3 no-gutters">
      <div class="col-2 text-right text-truncate">
        <%= game_form.object.home.name %>
      </div>

      <div class="col-1 text-center">
        <%= image_tag(game_form.object.home.logo_url, width: '25px') %>
      </div>

      <div class="col-2">
        <%= game_form.number_field(:home_score, class: 'form-control') %>
      </div>

      <div class="col-2 d-flex justify-content-center">
        <%= fa_icon('times') %>
      </div>

      <div class="col-2">
        <%= game_form.number_field(:visitor_score, class: 'form-control') %>
      </div>

      <div class="col-1 text-center">
        <%= image_tag(game_form.object.visitor.logo_url, width: '25px') %>
      </div>

      <div class="col-2 text-left text-truncate">
        <%= game_form.object.visitor.name %>
      </div>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col">
      <%= form.submit('Salvar', class: 'btn btn-primary btn-lg btn-block') %>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <%= link_to 'Cancelar', bet_league_path(@bet_league.id), class: 'btn btn-light btn-lg btn-block' %>
    </div>
  </div>
<% end %>
