<!DOCTYPE html>
<html>
  <head>
    <title>Palpita Ai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/top_bar' %>

    <div class="container">
      <% flash.each do |name, msg| %>
        <%
          type = case(name)
                 when 'alert'
                   'danger'
                 when 'notice'
                   'success'
                 end
        %>
        <div class="alert alert-<%= type %> mt-2" role="alert">
          <%= msg %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
