<!DOCTYPE html>
<html>
  <head>
    <title>Palpita Ai</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/top_bar' %>

    <div class="container">
      <% if notice.present? %>
        <div class="alert alert-success mt-2" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
